
<div class="footer-container">
    <div class="footer-container-address">
        <img src="IMG/bitmex-logo.png" alt="">
        <h3>Trade With Confidence.</h3>
        <div class="footer-container-address-body">
            <p>bitinstanttrade LTD
                207 Regent PI, Soho , W1B 3HH London, United Kingdom.</p>
        </div>
    </div>
    <div class="footer-container-links">
        <h4>company</h4>
        <li><a href="/"  class="text-decoration-none" style="color: purple;">Home</a></li>
        <li><a href="/about"  class="text-decoration-none" style="color: purple;">About Us</a></li>
        <li><a href="/contact "  class="text-decoration-none" style="color: purple;">Contact us</a></li>
        <li><a href="/register"   class="text-decoration-none" style="color: purple;">Start Now</a></li>
    </div>
</div>

<script src="//code.tidio.co/tx97fgq7dibhmfqig3ljzgpp8nhuxrp6.js" async></script>
<script src="Js/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>