
<%- include('partials/_header'); -%>

<div class="about-header-container">
    <div class="about-header-container-header">
        <h1 style="color: blueviolet;">Putting our clients first since 2009</h1>
        <p class="text-white">For More Than 11 Years, We’ve Been Empowering Clients By Helping Them Take Control Of Their Financial Lives.</p>
    </div>
</div>

<div class="about-properties">
    <div class="philosphy">
        <div class="philosphy-image">
            <img src="IMG/about.png" alt="">
        </div>
        <div class="philosphy-text">
            <div class="philosphy-text-header">
                <h4 style="color: white;">Philosophy</h4>
            </div>
            <div class="philosphy-text-body" style="color: blueviolet;">
                <p>Bitforextradeideology Is Fighting Financial Problems By Creating A Market Where The Experienced And Inexperienced Can Benefit From Online Investment .</p>
            </div>
        </div>

    </div>
    <div class="history">
        <div class="history-image">
            <img src="IMG/about.png" alt="">
        </div>
        <div class="history-text">
            <div class="history-text-header">
                <h4 style="color: white;">History</h4>
            </div>
            <div class="history-text-body" style="color: blueviolet;">
                <p>Established Since 11 Years Ago We Have Moved From One Stage To Another And Hope To Keep Growing.</p>
            </div>
        </div>

    </div>
    <div class="vision">
        <div class="vision-image">
            <img src="IMG/about.png" alt="">
        </div>
        <div class="vision-text">
            <div class="vision-text-header">
                <h4  style="color: white;">Vision & Mission</h4>
            </div>
            <div class="vision-text-body" style="color: blueviolet;">
                <p>Wealth Creation For All Nations. Strategic Planning For Profitable Trading</p>
            </div>
        </div>
    </div>
</div>

<div class="numbers-container">
    <div class="numbers-container-create">
        <h4 style="color: blueviolet;">Number Speaks</h4>

        <h2 style="color: blueviolet;">We Always Ready
            For A Challenge.
            </h2>

            <div class="numbers-container-btn">
                <a href="/register" class="text-decoration-none" style="color: white;">create an account</a>
            </div>
    </div>
    <div class="numbers-container-instrument" ">
        <div class="instrument">
            <div class="instrument-number">
                <span class="num" data-val="156">000</span>
            </div>
            <div class="instrument-text" style="color: blueviolet;">
                <h5>Trading Instruments</h5>
                <p>Various Currency Pairs And Market Commodities Coupled With Modern Trading Instruments. Your Money Is Secured

                </p>
            </div>
        </div>
        <div class="countries">
            <div class="countries-number">
                <span class="num" data-val="36" >00</span>
            </div>
            
            <div class="countries-text">
                <h5  style="color: blueviolet;">Countries Covered</h5>
                <p  style="color: blueviolet;">Our Offices Is Located In Over 36 Countries But Our Services Is Offered Worldwide.</p>
            </div>
        </div>

    </div>
    
</div>

<%- include('partials/_footer'); -%>