
<%- include('partials/_header'); -%>

<div class="accountype-container">

    <div class="accountype-container-text text-light">
        <p>Our market offers clients different options when opening an account. Depending on the trader type, there are various accounts that may best suit your needs. If you open a premium account with us today, you can receive many valuable bonus features and services that will definitely enhance your experience trading with us.</p>
    </div>
    <div class="accountype-container-content">
        <div class="basic-box">
            <div class="basic-box-header">
                <a href="/register" style="color: purple;">Basic Plan</a>
            </div>
            <div class="basic-box-body text-light">
                <p>200% + ʏᴏᴜʀ ɪɴᴠᴇsᴛᴍᴇɴᴛ -- ᴀғᴛᴇʀ 24ʜᴏᴜʀs

                    ᴍɪɴɪᴍᴜᴍ ᴅᴇᴘᴏsɪᴛ -- $300
                    
                    ᴍᴀxɪᴍᴜᴍ ᴅᴇᴘᴏsɪᴛ -- $2,999
                    
                    ʀᴇғᴇʀʀᴀʟ ʙᴏɴᴜs -- 5%</p>
            </div>
        </div>
        <div class="bronze-box">
            <div class="bronze-box-header">
                <a href="/register" style="color: purple;">Bronze Plan</a>
            </div>
            <div class="bronze-box-body text-light">
                <p>350% + ʏᴏᴜʀ ɪɴᴠᴇsᴛᴍᴇɴᴛ -- ᴀғᴛᴇʀ 72 ʜᴏᴜʀs

                    ᴍɪɴɪᴍᴜᴍ ᴅᴇᴘᴏsɪᴛ -- $3000
                    
                    ᴍᴀxɪᴍᴜᴍ ᴅᴇᴘᴏsɪᴛ --$4,999
                    
                    ʀᴇғᴇʀʀᴀʟ ʙᴏɴᴜs -- 5%</p>
            </div>
        </div>
        <div class="silver-box">
            <div class="silver-box-header">
                <a href="/register" style="color: purple;">Silver Plan</a>
            </div>
            <div class="silver-box-body text-light">
                <p>500% + ʏᴏᴜʀ ɪɴᴠᴇsᴛᴍᴇɴᴛ -- ᴀғᴛᴇʀ 120 ʜᴏᴜʀs

                    ᴍɪɴɪᴍᴜᴍ ᴅᴇᴘᴏsɪᴛ --$5,000
                    
                    ᴍᴀxɪᴍᴜ ᴅᴇᴘᴏsɪᴛ --$9,999
                    
                    ʀᴇғᴇʀʀᴀʟ ʙᴏɴᴜs -- 5%</p>
            </div>
        </div>
        <div class="gold-box">
           <div class="gold-box-header">
            <a href="/register" style="color: purple;">Gold Plan</a>
           </div>
           <div class="gold-box-body text-light">
            <p>600% + ʏᴏᴜʀ ɪɴᴠᴇsᴛᴍᴇɴᴛ -- ᴀғᴛᴇʀ 240ʜᴏᴜʀs

                ᴍɪɴɪᴍᴜ ᴅᴇᴘᴏsɪᴛ -- $10,000
                
                ᴍᴀxɪᴍᴜ ᴅᴇᴘᴏs --. $49,999
                
                ʀᴇғᴇʀʀᴀʟ ʙᴏɴᴜs -- 5%
                
                </p>
           </div>
        </div>
    </div>
</div>




<%- include('partials/_footer'); -%>