<%- include('partials/_header'); -%>


    <div class="contact-container-header" style="color: white;">
        <h1>Contact Us</h1>

        <div class="contact-container-body" style="color: blueviolet;">
            <p>Do not hesitate to reach out. Just fill in the contact form here and we’ll be sure to reply as fast as possible.

            </p>
        
        </div>
    </div>
   
    <div class="contact-form-details">
        <div class="contact-form-address" style="color: blueviolet;">
            <h4>Main Office</h4>
            <p>207 Regent PI, Soho , W1B 3HH London, United Kingdom.

            </p>

            <h5>Message us</h5>
            <a href="mailto:support@bitmextrade.com text-decoration-none" > support@bitforextrade.com</a>
        </div>
        <div class="contact-form-inputs">
            <form action="#" method="POST">

  <div class="row form-group mb-4">
    <div class="col">
      <label for="firstName" style="color: white">First Name</label>
      <input type="text" class="form-control" id="firstName" name="firstName" value="" placeholder="First Name" required>
    </div>

    <div class="col">
      <label for="lastName" style="color: white">Last Name</label>
      <input type="text" class="form-control" id="lastName" name="lastName" value="" placeholder="Last Name" required>
    </div>
  </div>

  <div class="row form-group mb-4">
    <div class="col">
      <label for="tel" style="color: white">Telephone</label>
      <input type="text" class="form-control" id="tel" name="tel" value="" placeholder="Telephone" required>
    </div>

    <div class="col">
      <label for="email" style="color: white">Email</label>
      <input type="text" class="form-control" id="email" name="email" value="" placeholder="Email" required>
    </div>
  </div>


  <div class="form-group mb-4">
      <label for="details" style="color: white">your message</label>
      <textarea class="form-control" name="details" id="details" cols="30" rows="12" placeholder="your Details"></textarea>
  </div>

  <div class="form-group mb-4">
    <button type="submit" class="btn btn-dark">message us</button>
  </div>

  

</form>
        </div>
    </div>


<%- include('partials/_footer'); -%>