<%- include('partials/_header'); -%>

<div class="faq-contantainer">

    <div class="faq-contantainer-header">
        <h4 style="color: blueviolet;">Company Faq</h4>
        <p style="color: blueviolet;">Please Contact Support For Any Other Question</p>
    </div>
    <div class="faq-contantainer-body">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    WHY CHOOSE US?
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>BitmextradeIncoporated An Impressive Records Of Successful Trades, High Revenue Margin, Trained Experts, BitmextradeLimited Is Regulated By Various Securities And Exchange Commission , Licensed By The Liabilities Trade Security (LTS) Of South Africa In Africa And London In The United Kingdom, With LTS No. LTS-010839223. The Company Is Also Registered With The Financial Conduct Authority Of The UK All Its Trading Is Conducted Under Strict Regulatory Supervision</p>
                  <li>Follow the Company Brand Guides</li>
                  <li>Never use Company in the plural or possessive form</li>
                  <li>Never use Company trademark generically in referring to the product</li>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    HOW DO I EARN THROUGH Bimextrade?
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>First Of All, Register Yourself At Ultra Boost Crypto Markets.COM . We Offer A High Profit Trading Plan To Our Clients - Users Earn 25% Daily Profits (Excluding Saturdays And Sundays) From Weekly, Monthly, Quaterly And Yearly Plans On Any Capital Investment Equivalent To $500 And Above. You Can Subscribe To More Than One Active Plan At A Time. Now On Behalf Of You, Our Company Specialists Invests Your Fund In Our Trading Firm. We Have Specialized Artificial Intelligence Bots Extensively Built By Experts With Cognitive Knowledge In Different Financial Markets For Profitable Trading. You Do Not Have To Worry About Trading On Your Own And Software Setup Or Any Maintenance Cost. We Do It For You. We Are Committed To Return Your Investments As Per Numbers Of Trading Plan Purchased By You, 25% Daily Profit (Excluding Saturdays And Sundays) As Per The Selected Investement Plan. BitforextradeAccepts And Returns Payments In Bank Transfer, Perfect Money, Bitcoin, Etheruem Etc And With The Returns You Can Subscribe To More Trading Plans Or Withdraw And Sell Your Bitcoins To Enjoy Your Profit.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    WHERE WILL I RECIEVE THE INTEREST OF MY ACTIVE DEPOSITS?
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                 <p>All Users Operating A Trade Account, Get Profits Instantly As Our AI Processes Trade The Outcome Of The Trade Is Shown In Your Trade Account. Additional Profits Maybe Earn At The End Of A Users Trading Period, All Users Are Expected To Stay Online As Much As They Can To Watch Their Trade And Also Make Changes When Neccessary.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    HOW LONG DOES IT TAKES FOR MY DEPOSIT TO REFLECT IN MY ACCOUNTS
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Ultra Boost Crypto Markets.COM Offers Multiple Deposit Methods And Their Processing Times Differ. Bitcoin Funding Reflects Within An Hour, Bank Wire May Extend More Than A Day Depending On The Country. After Funding Your Account, Please Contact Our Agents Via Our The Whatsapp Button Or Our Live Chat App Or Send A Mail To support@bitforextrade.com
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    HOW DO I REGISTER Bitforex Trade Markets.COM
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body"><p>Opening An Account With Us Is Very Easy, Just Fill-In The Registration Form With Your Correct Details And Submit To Create An Account. You Can Register By Clicking REGISTER NOW If You Encounter Any Problems While Opening An Account, Please Contact Our Support Team At Support@Ultra Boost Crypto Markets.COM Or Open A Conversation Via The Chat Medium Found On Our Website</p></div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    HOW LONG DOES IT TAKES FOR MY TRADING TO START AFTER MAKING DEPOSIT?
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body"><p>Your Trade Account Will Start Trading Immediately After Your Deposit Is Confirmed And Approved.</p></div>
              </div>
            </div>
          </div>
    </div>
</div>

<%- include('partials/_footer'); -%>