
<%- include('partials/_header'); -%>

<!-- <div id="preloader"></div> -->


<div class="first-session">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="IMG/bitmex-slide1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption  d-md-block">
                <h5> Multi-regulated Global Forex and Shares Broker</h5>
                <p>A trusted destination for traders worldwide, Authorised by FCA, ASIC & FSCA with multi-lingual support 24/5.</p>
                
                <a href="/register" class="btn btn-danger">Explore</a>
              </div>
           
          </div>
          <div class="carousel-item">
            <img src="IMG/bitmex-slide2.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-md-block">
                <h5>Trade Shares and Forex with Financial Thinking</h5>
                <p>Access 40,000+ instruments – across asset classes – to trade, hedge and invest from a single account.</p>
                
                <a href="/register" class="btn btn-danger">Get Started</a>
              </div>
          </div>
          <div class="carousel-item">
            <img src="IMG/bitmex-slide3.jpg" class="d-block w-100" alt="...">

            <div class="carousel-caption  d-md-block">
                <h5>Award-winning Products and Trading platforms </h5>
                <p>Tap into the world's markets and explore endless trading opportunities with tight spreads and no commission.</p>
                
                <a href="/register" class="btn btn-danger">Register now</a>
              </div>
          </div>
        </div>
      
       
      </div>
</div>

<div class="analysis-container">
    <div class="tools">
        <h3>free</h3>
        <p>analysis tools</p>
    </div>
    <div class="execution">
        <h3>Fast execution</h3>
        <p>0 commision</p>
    </div>
    <div class="minimum">
        <h3>Low minimum</h3>

        <p>deposit of $500</p>
    </div>
    <div class="over">
        <h3>over 2,100</h3>
        <p>assests to trade</p>
    </div>

</div>

<div class="assests-container">
    <div class="fx" >
        <div class="fx-header">
        <a href="/register" class="$purple text-decoration none">FX</a>
        <p class="text-dark">Spread as low as</p>
    </div>
    <div class="fx-text">
        <h2 class="text-dark">0.2</h2>
        <p>pip</p>
    </div>
    <div class="text-body">
        <p>Trade 182 FX spot pairs and 140 forwards across majors, minors, exotics and metals.</p>
    </div>
    </div>
    <div class="stocks" >
        <div class="stock-header">
            <a href="/register"class="$purple  text-decoration none">stock </a>
            <p class="text-dark">Commissions from</p>
        </div>
        <div class="stock-text">
            <h2 class="text-dark">$3</h2>
            <p>on US stocks</p>
        </div>
        <div class="text-body">
            <p>Access 19,000+ stocks across core and emerging markets on 36 exchanges worldwide.

                .</p>
        </div>

    </div>
    <div class="commodities" >
        <div class="commodities-header">
            <a href="/register" class="$purple  text-decoration none">Commodities </a>
            <p class="text-dark">Commission as low as      </p>
        </div>
        <div class="commodities-text">
            <h2 class="text-dark">$1.25</h2>
            <p>per lot</p>
        </div>
        <div class="text-body">
            <p>Trade a wide range of commodities as CFDs, futures, options, spot pairs, & more.</p>
        </div>
    </div>
    <div class="cdfs">
        <div class="cdfs-header">
            <a href="/register" class=" text-decoration none" style="color: purple;">CDFS</a>
            <p class="text-dark">Spread froms</p>
        </div>
        <div class="cdfs-text">
            <h2 class="text-dark">0.4
            </h2>
            <p>on US500</p>
        </div>
        <div class="text-body">
            <p>Go long or short on 9,000+ instruments with tight spreads & low commissions.</p>
        </div>
    </div>
</div>

<div class="platform-container">
    <div class="platform-text">
        <h1 class="text-light">Trade on world class platform</h1>
        <p class="text-light">Experience First Class Trading Services And The Best Trading Tools Available In The Market.</p>
    </div>
    <div class="platform-picture">
        <img src="IMG/forexcomputer.png" alt="">
    </div>
</div>


<div class="payment-container">
    <div class="payment-container-content">
       
            <div class="container wow fadeInUp">
                <div class="section-header">
                    <h3 class="section-title" style="color:white; text-align: center;" >Recent Deposits and Withdrawals</h3>
                </div>
            </div>
    
            <div class="container wow fadeInUp mt-5 ">
                <div class="row d-flex">
                    <div class="col-md-6">
    
                        <!-- Tabs with icons on Card -->
                        <div class="card card-nav-tabs">
                            <div class="alert alert-success">
                                <h3><i class="fa fa-plus"></i> Latest Deposits</h3>
                            </div>
    
                            <div class="card-content">
                                <div class="tab-content text-center">
                                    <div class="tab-pane active" id="deposit">
    
                                        <div class="table-responsive" style="height:400px; overflow-y:auto; overflow-x:auto;">
                                            <marquee direction="up" height="100%">
                                                <table class="table">
                                                    <thead> <tr> <th class="text-center">Status</th> <th class="text-center">Amount(USD)</th> <th class="text-center">Wallet</th> </tr>
                                                    </thead> <tbody> <tr> <td class="text-center"><button class="btn
                                        btn-success btn-sm"><span class="btn-label"><i class="fa
                                        fa-check"></i></span>Confirmed</button></td>
                                                        <td class="text-center" style="color:blue;">$10,000.00</td> <td class="text-center" style="color:blue;">3a17c5984af22cd7a443f14457841b3b19a51ea75a30e18bc6a82e4f8732dbca
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn btn-warning btn-sm"><span class="btn-label"><i class="fa fa-warning"></i></span>Pending</button></td>
                                                        <td class="text-center" style="color:blue;">$51,000.00</td> <td class="text-center" style="color:blue;">8a2b9781aa4995625af7d2b008f020ac74e7e0d2a599e93ed995f7c3bc2be9f2
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn
                                        btn-success btn-sm"><span class="btn-label"><i class="fa
                                        fa-check"></i></span>Confirmed</button></td>
                                                        <td class="text-center" style="color:blue;">$24,100.00</td> <td class="text-center" style="color:blue;">f007e92cc9f82ba9c8c40c481eec7315fa9abcd85e7249a6cb57e38a2cf22d3e</td>
                                                    </tr> <tr> <td class="text-center"><button class="btn btn-success btn-sm"><span class="btn-label"><i class="fa
                                        fa-check"></i></span>Confirmed</button></td>
                                                        <td class="text-center" style="color:blue;">$4,000.00</td> <td class="text-center" style="color:blue;">8a2b9781aa4995625af7d2b008f020ac74e7e0d2a599e93ed995f7c3bc2be9f2
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn
                                        btn-success btn-sm"><span class="btn-label"><i class="fa
                                        fa-check"></i></span>Confirmed</button></td>
                                                        <td class="text-center" style="color:blue;">$500</td> <td class="text-center" style="color:blue;">00db85ef40da34f3ea76aa60f0b2053eec2d90121e450791c18d8edbfedde6f1
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn
                                        btn-success btn-sm"><span class="btn-label"><i class="fa
                                        fa-check"></i></span>Confirmed</button></td>
                                                        <td class="text-center" style="color:blue;">$240,000</td> <td class="text-center" style="color:blue;">b21a418a44ed8b56118facefe7aa8d26541dff811b8a8ca65cfa1346d62c5c48
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn
                                        btn-success btn-sm"><span class="btn-label"><i class="fa
                                        fa-check"></i></span>Confirmed</button></td>
                                                        <td class="text-center" style="color:blue;">$17,000</td> <td class="text-center" style="color:blue;">1e652d2899a1d058a20041a9faaeb5dc009101ca412ff09c387e6b281bd1db8b
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn btn-warning btn-sm"><span class="btn-label"><i class="fa fa-warning"></i></span>Pending</button></td>
                                                        <td class="text-center" style="color:blue;">$51,000</td> <td class="text-center" style="color:blue;">6a49e66a66f75e72e6bd383ac798792af204a6693708912ad0d48e363a2ab7a7
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn
                                        btn-success btn-sm"><span class="btn-label"><i class="fa
                                        fa-check"></i></span>Confirmed</button></td>
                                                        <td class="text-center" style="color:blue;">$21,000</td> <td class="text-center" style="color:blue;">8a2b9781aa4995625af7d2b008f020ac74e7e0d2a599e93ed995f7c3bc2be9f2
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn btn-warning btn-sm"><span class="btn-label"><i class="fa fa-warning"></i></span>Pending</button></td>
                                                        <td class="text-center" style="color:blue;">$6,000</td> <td class="text-center" style="color:blue;">797ba039291417fdbdb411ea0a102d23090cde9ac7799ff605f40b5db484891d
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn
                                        btn-success btn-sm"><span class="btn-label"><i class="fa
                                        fa-check"></i></span>Confirmed</button></td>
                                                        <td class="text-center" style="color:blue;">$9,000</td> <td class="text-center" style="color:blue;">f0b66ce7a33bbc63bf50050beaf52be71709c359aa1d344bb90f943690485661
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn
                                        btn-success btn-sm"><span class="btn-label"><i class="fa
                                        fa-check"></i></span>Confirmed</button></td>
                                                        <td class="text-center" style="color:blue;">$23,000</td> <td class="text-center" style="color:blue;">2083e95ada3c584471ba5982e16c5dc2a6e464d3c170555ea8c708668be9383b
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn
                                        btn-success btn-sm"><span class="btn-label"><i class="fa
                                        fa-check"></i></span>Confirmed</button></td>
                                                        <td class="text-center" style="color:blue;">$51,000</td> <td class="text-center" style="color:blue;">8a2b9781aa4995625af7d2b008f020ac74e7e0d2a599e93ed995f7c3bc2be9f2
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn
                                        btn-success btn-sm"><span class="btn-label"><i class="fa
                                        fa-check"></i></span>Confirmed</button></td>
                                                        <td class="text-center" style="color:blue;">$5,000</td> <td class="text-center" style="color:blue;">8a2b9781aa4995625af7d2b008f020ac74e7e0d2a599e93ed995f7c3bc2be9f2
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn
                                        btn-success btn-sm"><span class="btn-label"><i class="fa
                                        fa-check"></i></span>Confirmed</button></td>
                                                        <td class="text-center" style="color:blue;">5,000</td> <td class="text-center" style="color:blue;">15c3a97edbd606bd1e455aa2875677f5c6cd2b804e9054e898f640d313e39781
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn btn-warning btn-sm"><span class="btn-label"><i class="fa fa-warning"></i></span>Pending</button></td>
                                                        <td class="text-center" style="color:blue;">$18,000</td> <td class="text-center" style="color:blue;">66c13496e9d53a2402fd49bbe91df298164472679cc868bbfebbabb4844d784c
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn
                                        btn-success btn-sm"><span class="btn-label"><i class="fa
                                        fa-check"></i></span>Confirmed</button></td>
                                                        <td class="text-center" style="color:blue;">$2,500</td> <td class="text-center" style="color:blue;">ce972a6b82135fcba0890ea0c8668bdddf782fd580672daa6616c3b1af40ca9f
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn
                                        btn-success btn-sm"><span class="btn-label"><i class="fa
                                        fa-check"></i></span>Confirmed</button></td>
                                                        <td class="text-center" style="color:blue;">$9,000</td> <td class="text-center" style="color:blue;">376e809b02e6ef044f6d5cf5b72111f25f3c3e16a93dce865a178e2e0f5c484c
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn btn-warning btn-sm"><span class="btn-label"><i class="fa fa-warning"></i></span>Pending</button></td>
                                                        <td class="text-center" style="color:blue;">$43,000</td> <td class="text-center" style="color:blue;">aa14458f8082d9c4265ef491ca0b5d4801c16bbf7a4aece7b70a0b4824ffdfea
                                                        </td>
                                                    </tr><tr> <td class="text-center"><button class="btn
                                        btn-success btn-sm"><span class="btn-label"><i class="fa
                                        fa-check"></i></span>Confirmed</button></td>
                                                        <td class="text-center" style="color:blue;">$10,000.00</td> <td class="text-center" style="color:blue;">3a17c5984af22cd7a443f14457841b3b19a51ea75a30e18bc6a82e4f8732dbca
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn btn-warning btn-sm"><span class="btn-label"><i class="fa fa-warning"></i></span>Pending</button></td>
                                                        <td class="text-center" style="color:blue;">$51,000.00</td> <td class="text-center" style="color:blue;">8a2b9781aa4995625af7d2b008f020ac74e7e0d2a599e93ed995f7c3bc2be9f2
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn
                                        btn-success btn-sm"><span class="btn-label"><i class="fa
                                        fa-check"></i></span>Confirmed</button></td>
                                                        <td class="text-center" style="color:blue;">$24,100.00</td> <td class="text-center" style="color:blue;">f007e92cc9f82ba9c8c40c481eec7315fa9abcd85e7249a6cb57e38a2cf22d3e</td>
                                                    </tr> <tr> <td class="text-center"><button class="btn btn-success btn-sm"><span class="btn-label"><i class="fa
                                        fa-check"></i></span>Confirmed</button></td>
                                                        <td class="text-center" style="color:blue;">$4,000.00</td> <td class="text-center" style="color:blue;">8a2b9781aa4995625af7d2b008f020ac74e7e0d2a599e93ed995f7c3bc2be9f2
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn
                                        btn-success btn-sm"><span class="btn-label"><i class="fa
                                        fa-check"></i></span>Confirmed</button></td>
                                                        <td class="text-center" style="color:blue;">$500</td> <td class="text-center" style="color:blue;">00db85ef40da34f3ea76aa60f0b2053eec2d90121e450791c18d8edbfedde6f1
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn
                                        btn-success btn-sm"><span class="btn-label"><i class="fa
                                        fa-check"></i></span>Confirmed</button></td>
                                                        <td class="text-center" style="color:blue;">$240,000</td> <td class="text-center" style="color:blue;">b21a418a44ed8b56118facefe7aa8d26541dff811b8a8ca65cfa1346d62c5c48
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn
                                        btn-success btn-sm"><span class="btn-label"><i class="fa
                                        fa-check"></i></span>Confirmed</button></td>
                                                        <td class="text-center" style="color:blue;">$17,000</td> <td class="text-center" style="color:blue;">1e652d2899a1d058a20041a9faaeb5dc009101ca412ff09c387e6b281bd1db8b
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn btn-warning btn-sm"><span class="btn-label"><i class="fa fa-warning"></i></span>Pending</button></td>
                                                        <td class="text-center" style="color:blue;">$51,000</td> <td class="text-center" style="color:blue;">6a49e66a66f75e72e6bd383ac798792af204a6693708912ad0d48e363a2ab7a7
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn
                                        btn-success btn-sm"><span class="btn-label"><i class="fa
                                        fa-check"></i></span>Confirmed</button></td>
                                                        <td class="text-center" style="color:blue;">$21,000</td> <td class="text-center" style="color:blue;">8a2b9781aa4995625af7d2b008f020ac74e7e0d2a599e93ed995f7c3bc2be9f2
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn btn-warning btn-sm"><span class="btn-label"><i class="fa fa-warning"></i></span>Pending</button></td>
                                                        <td class="text-center" style="color:blue;">$6,000</td> <td class="text-center" style="color:blue;">797ba039291417fdbdb411ea0a102d23090cde9ac7799ff605f40b5db484891d
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn
                                        btn-success btn-sm"><span class="btn-label"><i class="fa
                                        fa-check"></i></span>Confirmed</button></td>
                                                        <td class="text-center" style="color:blue;">$9,000</td> <td class="text-center" style="color:blue;">f0b66ce7a33bbc63bf50050beaf52be71709c359aa1d344bb90f943690485661
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn
                                        btn-success btn-sm"><span class="btn-label"><i class="fa
                                        fa-check"></i></span>Confirmed</button></td>
                                                        <td class="text-center" style="color:blue;">$23,000</td> <td class="text-center" style="color:blue;">2083e95ada3c584471ba5982e16c5dc2a6e464d3c170555ea8c708668be9383b
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn
                                        btn-success btn-sm"><span class="btn-label"><i class="fa
                                        fa-check"></i></span>Confirmed</button></td>
                                                        <td class="text-center" style="color:blue;">$51,000</td> <td class="text-center" style="color:blue;">8a2b9781aa4995625af7d2b008f020ac74e7e0d2a599e93ed995f7c3bc2be9f2
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn
                                        btn-success btn-sm"><span class="btn-label"><i class="fa
                                        fa-check"></i></span>Confirmed</button></td>
                                                        <td class="text-center" style="color:blue;">$5,000</td> <td class="text-center" style="color:blue;">8a2b9781aa4995625af7d2b008f020ac74e7e0d2a599e93ed995f7c3bc2be9f2
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn
                                        btn-success btn-sm"><span class="btn-label"><i class="fa
                                        fa-check"></i></span>Confirmed</button></td>
                                                        <td class="text-center" style="color:blue;">5,000</td> <td class="text-center" style="color:blue;">15c3a97edbd606bd1e455aa2875677f5c6cd2b804e9054e898f640d313e39781
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn btn-warning btn-sm"><span class="btn-label"><i class="fa fa-warning"></i></span>Pending</button></td>
                                                        <td class="text-center" style="color:blue;">$18,000</td> <td class="text-center" style="color:blue;">66c13496e9d53a2402fd49bbe91df298164472679cc868bbfebbabb4844d784c
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn
                                        btn-success btn-sm"><span class="btn-label"><i class="fa
                                        fa-check"></i></span>Confirmed</button></td>
                                                        <td class="text-center" style="color:blue;">$2,500</td> <td class="text-center" style="color:blue;">ce972a6b82135fcba0890ea0c8668bdddf782fd580672daa6616c3b1af40ca9f
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn
                                        btn-success btn-sm"><span class="btn-label"><i class="fa
                                        fa-check"></i></span>Confirmed</button></td>
                                                        <td class="text-center" style="color:blue;">$9,000</td> <td class="text-center" style="color:blue;">376e809b02e6ef044f6d5cf5b72111f25f3c3e16a93dce865a178e2e0f5c484c
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn btn-warning btn-sm"><span class="btn-label"><i class="fa fa-warning"></i></span>Pending</button></td>
                                                        <td class="text-center" style="color:blue;">$43,000</td> <td class="text-center" style="color:blue;">aa14458f8082d9c4265ef491ca0b5d4801c16bbf7a4aece7b70a0b4824ffdfea
                                                        </td>
                                                    </tr>
    
                                                    </tbody>
                                                </table>
                                            </marquee>
                                        </div>
    
    
    
    
                                    </div>
    
                                </div>
                            </div>
    
                        </div>
                        <!-- End Tabs with icons on Card -->
                    </div>
    
                    <div class="col-md-6">
    
                        <!-- Tabs with icons on Card -->
                        <div class="card card-nav-tabs">
                            <div class="alert alert-danger">
                                <h3><i class="fa fa-minus"></i> Latest Withdrawals</h3>
                            </div>
                            <div class="card-content">
                                <div class="tab-content text-center">
                                    <div class="tab-pane active" id="deposit">
    
                                        <div class="table-responsive" style="height:400px; overflow-y:auto; overflow-x:auto;">
                                            <marquee direction="down" height="100%"> <table class="table" style="width: 100%;">
                                                    <thead> <tr> <th class="text-center">Status</th> <th class="text-center">Amount(USD)</th> <th class="text-center">Wallet</th> </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr> <td class="text-center"><button class="btn
                                        btn-success btn-sm"><span class="btn-label"><i class="fa
                                        fa-check"></i></span>Confirmed</button></td>
                                                        <td class="text-center" style="color:blue;">$10,000.00</td> <td class="text-center" style="color:blue;">3a17c5984af22cd7a443f14457841b3b19a51ea75a30e18bc6a82e4f8732dbca
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn btn-warning btn-sm"><span class="btn-label"><i class="fa fa-warning"></i></span>Pending</button></td>
                                                        <td class="text-center" style="color:blue;">$51,000.00</td> <td class="text-center" style="color:blue;">8a2b9781aa4995625af7d2b008f020ac74e7e0d2a599e93ed995f7c3bc2be9f2
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn
                                        btn-success btn-sm"><span class="btn-label"><i class="fa
                                        fa-check"></i></span>Confirmed</button></td>
                                                        <td class="text-center" style="color:blue;">$24,100.00</td> <td class="text-center" style="color:blue;">f007e92cc9f82ba9c8c40c481eec7315fa9abcd85e7249a6cb57e38a2cf22d3e</td>
                                                    </tr> <tr> <td class="text-center"><button class="btn btn-success btn-sm"><span class="btn-label"><i class="fa
                                        fa-check"></i></span>Confirmed</button></td>
                                                        <td class="text-center" style="color:blue;">$4,000.00</td> <td class="text-center" style="color:blue;">8a2b9781aa4995625af7d2b008f020ac74e7e0d2a599e93ed995f7c3bc2be9f2
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn
                                        btn-success btn-sm"><span class="btn-label"><i class="fa
                                        fa-check"></i></span>Confirmed</button></td>
                                                        <td class="text-center" style="color:blue;">$500</td> <td class="text-center" style="color:blue;">00db85ef40da34f3ea76aa60f0b2053eec2d90121e450791c18d8edbfedde6f1
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn
                                        btn-success btn-sm"><span class="btn-label"><i class="fa
                                        fa-check"></i></span>Confirmed</button></td>
                                                        <td class="text-center" style="color:blue;">$240,000</td> <td class="text-center" style="color:blue;">b21a418a44ed8b56118facefe7aa8d26541dff811b8a8ca65cfa1346d62c5c48
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn
                                        btn-success btn-sm"><span class="btn-label"><i class="fa
                                        fa-check"></i></span>Confirmed</button></td>
                                                        <td class="text-center" style="color:blue;">$17,000</td> <td class="text-center" style="color:blue;">1e652d2899a1d058a20041a9faaeb5dc009101ca412ff09c387e6b281bd1db8b
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn btn-warning btn-sm"><span class="btn-label"><i class="fa fa-warning"></i></span>Pending</button></td>
                                                        <td class="text-center" style="color:blue;">$51,000</td> <td class="text-center" style="color:blue;">6a49e66a66f75e72e6bd383ac798792af204a6693708912ad0d48e363a2ab7a7
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn
                                        btn-success btn-sm"><span class="btn-label"><i class="fa
                                        fa-check"></i></span>Confirmed</button></td>
                                                        <td class="text-center" style="color:blue;">$21,000</td> <td class="text-center" style="color:blue;">8a2b9781aa4995625af7d2b008f020ac74e7e0d2a599e93ed995f7c3bc2be9f2
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn btn-warning btn-sm"><span class="btn-label"><i class="fa fa-warning"></i></span>Pending</button></td>
                                                        <td class="text-center" style="color:blue;">$6,000</td> <td class="text-center" style="color:blue;">797ba039291417fdbdb411ea0a102d23090cde9ac7799ff605f40b5db484891d
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn
                                        btn-success btn-sm"><span class="btn-label"><i class="fa
                                        fa-check"></i></span>Confirmed</button></td>
                                                        <td class="text-center" style="color:blue;">$9,000</td> <td class="text-center" style="color:blue;">f0b66ce7a33bbc63bf50050beaf52be71709c359aa1d344bb90f943690485661
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn
                                        btn-success btn-sm"><span class="btn-label"><i class="fa
                                        fa-check"></i></span>Confirmed</button></td>
                                                        <td class="text-center" style="color:blue;">$23,000</td> <td class="text-center" style="color:blue;">2083e95ada3c584471ba5982e16c5dc2a6e464d3c170555ea8c708668be9383b
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn
                                        btn-success btn-sm"><span class="btn-label"><i class="fa
                                        fa-check"></i></span>Confirmed</button></td>
                                                        <td class="text-center" style="color:blue;">$51,000</td> <td class="text-center" style="color:blue;">8a2b9781aa4995625af7d2b008f020ac74e7e0d2a599e93ed995f7c3bc2be9f2
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn
                                        btn-success btn-sm"><span class="btn-label"><i class="fa
                                        fa-check"></i></span>Confirmed</button></td>
                                                        <td class="text-center" style="color:blue;">$5,000</td> <td class="text-center" style="color:blue;">8a2b9781aa4995625af7d2b008f020ac74e7e0d2a599e93ed995f7c3bc2be9f2
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn
                                        btn-success btn-sm"><span class="btn-label"><i class="fa
                                        fa-check"></i></span>Confirmed</button></td>
                                                        <td class="text-center" style="color:blue;">5,000</td> <td class="text-center" style="color:blue;">15c3a97edbd606bd1e455aa2875677f5c6cd2b804e9054e898f640d313e39781
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn btn-warning btn-sm"><span class="btn-label"><i class="fa fa-warning"></i></span>Pending</button></td>
                                                        <td class="text-center" style="color:blue;">$18,000</td> <td class="text-center" style="color:blue;">66c13496e9d53a2402fd49bbe91df298164472679cc868bbfebbabb4844d784c
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn
                                        btn-success btn-sm"><span class="btn-label"><i class="fa
                                        fa-check"></i></span>Confirmed</button></td>
                                                        <td class="text-center" style="color:blue;">$2,500</td> <td class="text-center" style="color:blue;">ce972a6b82135fcba0890ea0c8668bdddf782fd580672daa6616c3b1af40ca9f
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn
                                        btn-success btn-sm"><span class="btn-label"><i class="fa
                                        fa-check"></i></span>Confirmed</button></td>
                                                        <td class="text-center" style="color:blue;">$9,000</td> <td class="text-center" style="color:blue;">376e809b02e6ef044f6d5cf5b72111f25f3c3e16a93dce865a178e2e0f5c484c
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn btn-warning btn-sm"><span class="btn-label"><i class="fa fa-warning"></i></span>Pending</button></td>
                                                        <td class="text-center" style="color:blue;">$43,000</td> <td class="text-center" style="color:blue;">aa14458f8082d9c4265ef491ca0b5d4801c16bbf7a4aece7b70a0b4824ffdfea
                                                        </td>
                                                    </tr><tr> <td class="text-center"><button class="btn
                                        btn-success btn-sm"><span class="btn-label"><i class="fa
                                        fa-check"></i></span>Confirmed</button></td>
                                                        <td class="text-center" style="color:blue;">$10,000.00</td> <td class="text-center" style="color:blue;">3a17c5984af22cd7a443f14457841b3b19a51ea75a30e18bc6a82e4f8732dbca
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn btn-warning btn-sm"><span class="btn-label"><i class="fa fa-warning"></i></span>Pending</button></td>
                                                        <td class="text-center" style="color:blue;">$51,000.00</td> <td class="text-center" style="color:blue;">8a2b9781aa4995625af7d2b008f020ac74e7e0d2a599e93ed995f7c3bc2be9f2
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn
                                        btn-success btn-sm"><span class="btn-label"><i class="fa
                                        fa-check"></i></span>Confirmed</button></td>
                                                        <td class="text-center" style="color:blue;">$24,100.00</td> <td class="text-center" style="color:blue;">f007e92cc9f82ba9c8c40c481eec7315fa9abcd85e7249a6cb57e38a2cf22d3e</td>
                                                    </tr> <tr> <td class="text-center"><button class="btn btn-success btn-sm"><span class="btn-label"><i class="fa
                                        fa-check"></i></span>Confirmed</button></td>
                                                        <td class="text-center" style="color:blue;">$4,000.00</td> <td class="text-center" style="color:blue;">8a2b9781aa4995625af7d2b008f020ac74e7e0d2a599e93ed995f7c3bc2be9f2
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn
                                        btn-success btn-sm"><span class="btn-label"><i class="fa
                                        fa-check"></i></span>Confirmed</button></td>
                                                        <td class="text-center" style="color:blue;">$500</td> <td class="text-center" style="color:blue;">00db85ef40da34f3ea76aa60f0b2053eec2d90121e450791c18d8edbfedde6f1
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn
                                        btn-success btn-sm"><span class="btn-label"><i class="fa
                                        fa-check"></i></span>Confirmed</button></td>
                                                        <td class="text-center" style="color:blue;">$240,000</td> <td class="text-center" style="color:blue;">b21a418a44ed8b56118facefe7aa8d26541dff811b8a8ca65cfa1346d62c5c48
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn
                                        btn-success btn-sm"><span class="btn-label"><i class="fa
                                        fa-check"></i></span>Confirmed</button></td>
                                                        <td class="text-center" style="color:blue;">$17,000</td> <td class="text-center" style="color:blue;">1e652d2899a1d058a20041a9faaeb5dc009101ca412ff09c387e6b281bd1db8b
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn btn-warning btn-sm"><span class="btn-label"><i class="fa fa-warning"></i></span>Pending</button></td>
                                                        <td class="text-center" style="color:blue;">$51,000</td> <td class="text-center" style="color:blue;">6a49e66a66f75e72e6bd383ac798792af204a6693708912ad0d48e363a2ab7a7
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn
                                        btn-success btn-sm"><span class="btn-label"><i class="fa
                                        fa-check"></i></span>Confirmed</button></td>
                                                        <td class="text-center" style="color:blue;">$21,000</td> <td class="text-center" style="color:blue;">8a2b9781aa4995625af7d2b008f020ac74e7e0d2a599e93ed995f7c3bc2be9f2
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn btn-warning btn-sm"><span class="btn-label"><i class="fa fa-warning"></i></span>Pending</button></td>
                                                        <td class="text-center" style="color:blue;">$6,000</td> <td class="text-center" style="color:blue;">797ba039291417fdbdb411ea0a102d23090cde9ac7799ff605f40b5db484891d
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn
                                        btn-success btn-sm"><span class="btn-label"><i class="fa
                                        fa-check"></i></span>Confirmed</button></td>
                                                        <td class="text-center" style="color:blue;">$9,000</td> <td class="text-center" style="color:blue;">f0b66ce7a33bbc63bf50050beaf52be71709c359aa1d344bb90f943690485661
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn
                                        btn-success btn-sm"><span class="btn-label"><i class="fa
                                        fa-check"></i></span>Confirmed</button></td>
                                                        <td class="text-center" style="color:blue;">$23,000</td> <td class="text-center" style="color:blue;">2083e95ada3c584471ba5982e16c5dc2a6e464d3c170555ea8c708668be9383b
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn
                                        btn-success btn-sm"><span class="btn-label"><i class="fa
                                        fa-check"></i></span>Confirmed</button></td>
                                                        <td class="text-center" style="color:blue;">$51,000</td> <td class="text-center" style="color:blue;">8a2b9781aa4995625af7d2b008f020ac74e7e0d2a599e93ed995f7c3bc2be9f2
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn
                                        btn-success btn-sm"><span class="btn-label"><i class="fa
                                        fa-check"></i></span>Confirmed</button></td>
                                                        <td class="text-center" style="color:blue;">$5,000</td> <td class="text-center" style="color:blue;">8a2b9781aa4995625af7d2b008f020ac74e7e0d2a599e93ed995f7c3bc2be9f2
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn
                                        btn-success btn-sm"><span class="btn-label"><i class="fa
                                        fa-check"></i></span>Confirmed</button></td>
                                                        <td class="text-center" style="color:blue;">5,000</td> <td class="text-center" style="color:blue;">15c3a97edbd606bd1e455aa2875677f5c6cd2b804e9054e898f640d313e39781
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn btn-warning btn-sm"><span class="btn-label"><i class="fa fa-warning"></i></span>Pending</button></td>
                                                        <td class="text-center" style="color:blue;">$18,000</td> <td class="text-center" style="color:blue;">66c13496e9d53a2402fd49bbe91df298164472679cc868bbfebbabb4844d784c
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn
                                        btn-success btn-sm"><span class="btn-label"><i class="fa
                                        fa-check"></i></span>Confirmed</button></td>
                                                        <td class="text-center" style="color:blue;">$2,500</td> <td class="text-center" style="color:blue;">ce972a6b82135fcba0890ea0c8668bdddf782fd580672daa6616c3b1af40ca9f
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn
                                        btn-success btn-sm"><span class="btn-label"><i class="fa
                                        fa-check"></i></span>Confirmed</button></td>
                                                        <td class="text-center" style="color:blue;">$9,000</td> <td class="text-center" style="color:blue;">376e809b02e6ef044f6d5cf5b72111f25f3c3e16a93dce865a178e2e0f5c484c
                                                        </td> </tr> <tr> <td class="text-center"><button class="btn btn-warning btn-sm"><span class="btn-label"><i class="fa fa-warning"></i></span>Pending</button></td>
                                                        <td class="text-center" style="color:blue;">$43,000</td> <td class="text-center" style="color:blue;">aa14458f8082d9c4265ef491ca0b5d4801c16bbf7a4aece7b70a0b4824ffdfea
                                                        </td>
                                                    </tr>
    
                                                    </tbody>
                                                </table>
                                            </marquee>
                                        </div>
    
    
    
    
                                    </div>
    
                                </div>
                            </div>
                        </div>
                        <!-- End Tabs with icons on Card -->
                        </div>
                </div>
    
            </div>
    
    </div>
</div>

<div class="traders-container">
    <div class="traders-container-header">
    <h1 class="text-light">Join a club of more than 1,000,000+ Traders</h1>
</div>
    <div class="traders-container-content">
    <div class="criteria-container">
        <div class="reputation">
           <div class="reputation-header">
            <h3><i class="bi bi-award"></i> Best reputation</h3>
           </div> 
           <div class="reputation-body">
            <p>Do Your Research, We Are Known For Quality Service, Transparent And Profitable Trading</p>
           </div>
        </div>
        <div class="advance">
            <div class="advance-header">
                <h3><i class="bi bi-tools"></i> Advance tools</h3>
               </div> 
               <div class="advance-body">
                <p>Take Advantage Of Our Autotrade System. Sit Back While Our Experts Do All The Work. Your Investment Portfolio Will Grow With Every Successful Trade.</p>
               </div>
        </div>
        <div class="clients">
            <div class="clients-header">
                <h3><i class="bi bi-people"></i> 1M+ clients</h3>
               </div> 
               <div class="clients-body">
                <p>Our Satisfied Customers List Grows By Day Due To Efficient And Quality Services Received</p>
               </div>
        </div>
      
    </div>
    <div class="image">
        <img src="IMG/building.png" alt="">
        
    </div>
</div>

</div>

<div class="market-analysis">
    <div class="market-analysis-text">
        <div class="market-analysis-text-header">
            <h1 style="color: purple;">Market analysis and
                trade inspiration</h1>
        </div>
        <div class="market-analysis-text-body text-light">
            <p>Best Analysis And Tarde Signals. Cryptocurrency Mining And Multiple Currency Trading And Exchanges.</p>
        </div>
        <div class="market-analysis-text-boxes">
            <div class="strategy">
                <strong class="text-light">Strategies & Discussions</strong>
            </div>
            <div class="discuss">
                <strong class="text-light">Forecasts & Education</strong>
            </div>
        </div>
    </div>
    <div class="youtube-video">
        <iframe width="500" height="315" src="https://www.youtube.com/embed/F3QpgXBtDeo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <p class="text-light">Explore the markets at your own pace with short online courses.</p>
        <a href="/register" style="background-color: purple ; padding: 10px ; text-decoration: none;">Signup</a>
    </div>
</div>

<div class="trading-package-container">
    <div class="trading-package-content">
    <div class="classic-package">
       <div class="classic-package-header">
        <h5>MINIMUM FUNDING <span style="background-color: purple;padding: 5px;">$500</span></h5>

        <h2>Classic account</h2>
        <p>Benefit from industry-leading entry prices</p>
       </div> 

       <div class="classic-package-body">
        <li>One of the established industry leaders</li>
        <li>Three decades of trading know-how</li>
        <li>Award-winning customer service*</li>
        <li>Highly-regarded trader education*</li>
        <li>Advanced risk management</li>
        <li>Tax-free spread betting profits</li>
        <li>Low minimum deposit</li>
       </div>
       <div class="classic-package-btn">
        <a href="/register" class="btn btn-dark">open an account</a>
       </div>
    </div>

    <div class="platinum-package">
        <div class="platinum-package-header">
            <h5>MINIMUM FUNDING <span style="background-color: purple;padding: 5px;">USD 1000</span></h5>

            <h2>Platinum account</h2>
            <p>Receive even tighter spreads and commissions</p>
        </div>

        <div class="platinum-package-body">
            <li >Award-winning trading platform*</li>
            <li>Wide range of charting tools</li>
            <li>Fast, automated excecution</li>
            <li>Expert news & analysis</li>
            <li>Competitive spreads</li>
            <li>Advanced trading tools</li>
            <li>Tax-free spread betting profits</li>
        </div>
        <div class="platinum-package-btn">
            <a href="/register" class="btn btn-dark">open an account</a>
        </div>
    </div>
</div>
</div>

<div class="forex-awards">
    <div class="first-award">
        <h5 style="color: blueviolet;">Best CDF Broker</h5>
        <p style="color: white;"> TradeON Summit 2012</p>
    </div>
    <div class="second-award">
        <h5 style="color:blueviolet ;">Best Trading Experience</h5>
        <p style="color: white;">Jordan Forex EXPO 2020</p>
    </div>
    <div class="third-award">
        <h5 style="color: blueviolet;">Best Execution Broker
        </h5>
        <p style="color: white;">Forex EXPO Dubai 2017</p>
    </div>
    <div class="fouth-award" >
        <h5 style="color: blueviolet;">Best Trading Platform</h5>
        <p style="color: white;"> London Summit 2018</p>
    </div>
</div>

<div class="metatrader-container">
    <div class="metaphoto">
        <img src="IMG/meta5.png" alt="">
    </div>
    <div class="meta-text">
        <div class="meta-text-header" style="color: white;">
            <h4>Metatrader 5</h4>
        </div>
        <div class="meta-text-body" style="color: blueviolet;">
            <p>Best Trading Experience Guaranteed. Explore Our Modern Tools And Experienced Experts For A High Profit Yield</p>
        </div>
        <div class="meta-btn">
            <a href="/login" class="btn btn-dark">open an account</a>
        </div>
    </div>
</div>

<div class="card-container">
    <div class="card-container-text">
       <div class="card-container-text-header" style="color: white;">
        <h3>WIREX CARD</h3>
       </div>

       <div class="card-container-text-body" style="color: blueviolet;">
        <p>Using A Virtual Debit Card Is Easy, But Using It On A Mobile Wallet Is Easier.
            You Can Add Your Bento Spend Limit And Fixed Value Virtual Cards To Your Apple Pay And Google Pay Wallets To Make Your On-The-Go Contactless Payments Seamless.
            Using Your Wirex Cards Via Mobile Wallet Brings With It A High Degree Of Convenience And Security.</p>
            <div class="card-container-text-body-price">
                <h4>$1500</h4>
            </div>
       </div>
       <div class="card-container-text-btn">
        <a href="mailto:support@bitmextrading.com" class="btn btn-dark">REQUEST FOR CARD</a>
       </div>

    </div>
    <div class="card-container-image">
        <img src="IMG/wirex.png" alt="">
    </div>
</div>

<%- include('partials/_footer'); -%>

