<%- include('partials/_header'); -%>

<div class="privacy-container">
    <div class="privacy-container-header" >
        <h2 style="color: blueviolet;">Privacy Policy</h2>
        <p style="color: white;">The privacy of our website visitors and clients, both existing and former, is very important to us. Ultra Boost Crypto Markets is committed to safeguarding any information we collect, use and hold about you.

            When you register for either a demo or a live account with Bitmex Crypto Markets, it is necessary that we collect some personal data from you for business purposes. By understanding your financial needs, we can treat you fairly as a client; we can provide you with the most suitable products and services, give you the appropriate information on investment strategies, process your requests and transactions and offer you both sales and post-sales services.
            
            We request the following Personal Data from you:
            Personal and financial information needed during the online registration applications/forms; Documents needed as proof of your identity and residency such as an International Passport, National ID, utility bills or bank statements; Please note that if and when you choose to end your working relationship with Ultra Boost Crypto Markets, we must keep your Personal Data on record for a further seven years.</p>
    </div>

        <div class="privacy-container-body">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Personal Data:
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <p>To verify your identity To ensure that you meet the suitability requirements needed to use our products and services</p>
                        <li>To verify your identity.</li>
                        <li>To ensure that you meet the suitability requirements needed to use our products and services.</li>
                        <p>To manage the account, you have with us and To process your transactions</p>
                        <li>Client places a funds withdrawal order using the Company website interface. Company is not responsible for any third party access to the Client personal information and withdrawal orders. Once an order has been received, the withdrawal amount may be deducted from the Client trading account.</li>
                        <li>To send you information about transaction/post-transaction services.</li>
                        <li>To keep you updated with news on our products, services and any other information relevant to your working relationship with Ultra Boost Crypto Markets.</li>
                        <li>For the analysis of statistical data which will help us provide you with better products and services in the future.</li>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        Cookies
                    </button>
                  </h2>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body"><p>Cookies Are Small Bits Of Data Stored On A Web Browser When You Visit A Website For The First Time. If You Visit That Website Again In The Future, The Storage Of Cookies On Your Browser Enables The Website To Remember How You Browsed Through It The First Time. For Example, It Can Remember Your Username And Password. Cookies Are Used On This Website In Order To Offer Our Users A More Customized Browsing Experience.
                        If You Do Not Agree To Our Cookie Policy You Can Disable Cookies And Still Access Our Website Normally.
                        
                        </p></div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        Security & Protection
                    </button>
                  </h2>
                  <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body"><p>Bitmextrade Crypto Markets is committed to safeguarding your Personal Data by adhering to strict security standards and using the most up to date security technologies.</p></div>
                  </div>
                </div>
              </div>
        </div>
</div>

<%- include('partials/_footer'); -%>